$main-color-white: #FFFFFF;
$main-color-black: #000000;
$main-color-primary: #615EF0;
$main-color-secondary: #615EF0;
$main-color-accent: #e84545;
$main-color-grey1: #333333;
$main-color-grey2: #4F4F4F;
$main-color-grey3: #828282;
$main-color-grey4: #BDBDBD;
$main-color-grey5: #E0E0E0;
$main-color-grey6: #F2F2F2;
$main-color-red: #EB5757;
$main-color-orange: #F2994A;
$main-color-yellow: #F2C94C;
$main-color-green1: #219653;
$main-color-green2: #27AE60;
$main-color-green3: #6FCF97;
$main-color-blue1: #2F80ED;
$main-color-blue2: #2D9CDB;
$main-color-blue3: #56CCF2;
$main-color-purple1: #9B51E0;
$main-color-purple2: #BB6BD9;
$main-color-text: #000000;
$main-color-subtext: rgba(0, 0, 0, 0.4);
$font-family-primary:("Metropolis-Regular", sans-serif);
$font-family-black: ("Metropolis-Black", sans-serif);
$font-family-medium: ("Metropolis-Medium", sans-serif);
$font-family-bold: ("Metropolis-Bold", sans-serif);
$font-family-semi: ("Metropolis-SemiBold", sans-serif);
$breakpoint-extra-large-devices: 1200px;
$breakpoint-large-devices: 992px;
$breakpoint-medium-devices: 768px;
$breakpoint-small-devices: 320px;